<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="tigu.group.cordova.plugin.tigubluetoothusage"
        version="0.0.1">

    <name>cordova-plugin-tigubluetoothusage</name>
    <description>Cordova/PhoneGap plugin for enabling bluetooth usage</description>
    <license>Apache 2.0 License</license>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>This app would like to enable/use your bluetooth.</string>
        </config-file>
    </platform>
</plugin>

